<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- Tab Title -->
 <title>Eat a Burger!</title>
  
  <link rel="icon" href="/assets/img/burger1.jpg">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>

<body>

  <div class="container">
    <br>

<!--burger image -->
    <center>
      <div class="row">
        <img src="/assets/img/burger1.jpg">
      </div>
    </center>

<!--title-->
    <center>
      <h1 class="Tfont">Eat da Burger!</h1>
    </center>
    <br>

    <!-- Burger Content from index.handlebars -->
    {{{body}}}

    <br><br>

    <!-- New Burgers Form -->
    <form action="burger/create" method="POST">

      <!-- Text Area Input -->
      <div class="row">
        <div class="col-md-3"></div>

        <!-- Burger Input Box -->
        <div class="form-group col-md-6">
          <center><label for="new_burger" class="Tfont">Order a Burger!</label></center>
          <textarea class="form-control" columns="3" rows="2" id="new_burger" name="burger_name"></textarea>
        </div>
        <div class="col-md-3"></div>
      </div>
      <!-- Submit-->
      <center>
        <button id="submit-button" type="submit" class="btn btn-danger">Place Order</button>
      </center>

    </form>
    <br>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

</body>

</html